@import "modern-normalize.css";
@import "webfonts.css";
@import "spinkit.css";

$body-font: "Questrial", sans-serif;
$header-font: "aganbold";
$header-font-alt: "aganextra_bold";
$text-color: #292929;
$text-color2: #2c2c2c;

$blue1: #51a4fb;
$blue2: #3196ff;
$blue3: #d5e9fe;
$blue4: #4c30ff;
$gray1: #e0e0e0;

$gray2: #808080;

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: $text-color;
  font-size: 1.8rem;
}

a {
  color: $blue2;
}

.sk-circle-fade {
  margin: auto;
  .sk-circle-fade-dot:before {
    background-color: $blue2;
  }
}

.wrapper {
  header.main {
    position: relative;
    height: 65px;
    background-color: #fff;
    margin-bottom: 40px;
    width: 100%;
    z-index: 10000;

    .inner {
      height: 100%;
    }

    h1 {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 25px;
      margin: 0;
      display: flex;
      align-items: center;

      a {
        display: block;
        position: relative;
        top: 4px;
        img {
          width: 224px;
          height: auto;
        }
      }
    }

    #mobilemenubtn {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      top: 0;
      bottom: 0;
      right: 25px;
      padding: 10px;
      padding-bottom: 5px;
      text-align: center;

      svg {
        display: inline-block;
      }

      &:hover {
        svg {
          path {
            fill: $blue2;
          }
        }
      }
    }

    nav {
      display: none;
      font-size: 1.6rem;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          list-style: none;

          a {
            text-decoration: none;
            color: $blue1;
          }
        }
      }
    }

    nav.open {
      display: block;
      position: absolute;
      top: 58px;
      left: 0;
      width: 100%;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.8);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      z-index: 10;

      ul {
        font-size: 2.2rem;

        li {
          margin-bottom: 10px;
        }
      }
    }
  }

  header.main.listing {
    position: sticky;
    height: 60px;
    top: 0;
    z-index: 200;
    margin-bottom: 0;
  }

  footer.main {
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 1.4rem;

    .inner {
      padding-left: 25px;
      padding-right: 25px;
    }

    .copyright {
      margin-bottom: 4px;
      text-align: center;
    }

    .back_to_top {
      position: fixed;
      display: none;
      bottom: 20px;
      right: 10px;
      color: $blue1;
      cursor: pointer;
      padding: 10px;
      padding-left: 25px;
      padding-right: 25px;
      border-radius: 20px;
      background-color: $blue1;
      color: #fff;
      z-index: 10000;
    }
  }

  footer.main.fixed {
    .copyright {
      text-align: left;
      width: 70%;
    }

    .back_to_top {
      display: block;
    }
  }
}

a.btn,
input[type="submit"] {
  border-radius: 40px;
  background-color: $blue1;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 15px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: 0;

  &:hover {
    background-color: $blue2;
  }
}

.page_home {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 35px;

  .headline {
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 10vh;

    h2 {
      font-size: 3.2rem;
      line-height: 4rem;
      font-family: $header-font;
      font-weight: normal;
    }

    p {
      line-height: 2.7rem;
    }
  }

  .find_controls {
    width: 245px;
    margin: auto;
    text-align: center;

    a.btn {
      margin-bottom: 15px;
    }

    a.btn.loading {
      background-color: gray;
    }

    a.btn.hide {
      display: none;
    }

    #enable_zipcodeform {
      cursor: pointer;
      text-decoration: underline;
    }

    form.loc_input {
      border-radius: 40px;
      border: 2px solid $blue1;
      display: flex;
      padding: 10px;
      justify-content: space-between;
      color: $text-color;
      margin-bottom: 15px;

      input[type="text"] {
        width: 75%;
        font-size: 2rem;
        border: 0;
        outline: none;
        padding-left: 15px;
      }

      button {
        width: 20%;
        background: transparent;
        outline: none;
        border: 0;
        color: $blue2;
        cursor: pointer;
      }
    }

    form.loc_input.hide {
      display: none;
    }

    small {
      font-size: 1.4rem;
    }
  }
}

.page_submit {
  padding-bottom: 35px;
  padding-left: 25px;
  padding-right: 25px;

  .headline {
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 55px;

    h2 {
      font-size: 3.2rem;
      line-height: 4rem;
      font-family: $header-font;
      font-weight: normal;
    }

    p {
      line-height: 2.7rem;
    }
  }
}

.page_listing {
  position: relative;
  min-height: 65vh;

  .map {
    display: none;
  }

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;

    .sk-circle-fade {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }

  .errors {
    background-color: rgb(255, 142, 142);
    border: 1px solid rgb(154, 0, 0);
    color: rgb(154, 0, 0);
    margin-bottom: 25px;
    padding: 15px;
  }

  .filters {
    position: sticky;
    background-color: #fff;
    top: 60px;
    height: 150px;
    width: 100%;
    border-top: 1px solid $gray1;
    border-bottom: 1px solid $gray1;
    z-index: 200;

    .type-filter,
    .tag-filter {
      height: 50px;
      width: 100%;
      font-size: 1.8rem;
      padding: 10px;
      padding-left: 25px;
      padding-right: 25px;

      .react-select__control {
        border: 0;
        border-radius: 0;
      }
    }

    .search {
      input[type="search"] {
        height: 50px;
        width: 100%;
        font-size: 1.8rem;
        font-style: italic;
        padding: 10px;
        padding-left: 35px;
        outline: none;
        border: 0;
        background-color: transparent;
      }
    }
  }

  .listing {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 40px;

    .empty {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }

  .entry {
    position: relative;
    color: $text-color2;
    border-bottom: 1px solid $gray1;
    padding-bottom: 10px;
    margin-bottom: 25px;

    .corrections {
      font-size: 1.2rem;
      font-style: italic;
      position: relative;
      z-index: 100;
    }

    .closed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: bold;
      color: $text-color;
      background-color: rgba(255, 255, 255, 0.75);
    }

    header {
      display: grid;
      justify-content: space-between;
      grid-template-columns: 75% 20%;
      margin-bottom: 5px;

      h1 {
        font-family: $header-font;
        font-size: 2rem;
        margin: 0;
        font-weight: normal;
      }

      .distance {
        font-size: 1.4rem;
        color: $gray2;
        text-align: right;
      }
    }

    .business_type {
      font-size: 1.4rem;
      color: $gray2;
      margin-bottom: 10px;
    }

    .subtypes {
      margin-bottom: 15px;

      span {
        display: inline-block;
        height: 28px;
        line-height: 26px;
        background-color: $blue1;
        border-radius: 14px;
        margin-bottom: 4px;

        font-size: 1.3rem;
        color: #fff;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 10px;
        cursor: default;
      }
    }

    .address,
    .hours,
    .contact {
      font-size: 1.6rem;
      margin-bottom: 15px;
    }

    .contact {
      display: grid;
      justify-content: space-between;
      grid-template-columns: 45% 45%;

      a {
        text-decoration: none;
        color: $text-color2;
      }

      .web .icon,
      .phone .icon {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }

      .web .icon {
        background-image: url("../img/external-link-alt-solid.svg");
      }

      .phone .icon {
        background-image: url("../img/phone-alt-solid.svg");
      }
    }

    .details {
      font-size: 1.4rem;
      line-height: 1.3em;
      font-style: italic;
      margin-bottom: 25px;
    }
  }

  .map {
    .entry {
      padding: 9px;
      border-bottom: 0;

      header {
        display: block;

        h1 {
          width: 100%;
        }
      }
    }
  }
}

form {
  position: relative;
  .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;

    .sk-circle-fade {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 25vh;
    }
  }

  .complete {
    padding-top: 45px;
    text-align: center;
    padding-bottom: 45px;
  }

  .formrow {
    margin-bottom: 20px;

    .field {
      margin-bottom: 20px;

      label {
        text-transform: uppercase;
        font-family: $header-font;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
        margin-bottom: 5px;
        display: block;

        > div {
          top: 8px;
          margin-right: 20px;
        }
      }

      input[type="text"] {
        border-radius: 20px;
        border: 2px solid $text-color;
        padding: 10px;
        width: 100%;
      }

      select {
        width: 100%;
        position: relative;
        z-index: 1;
      }

      textarea {
        border-radius: 20px;
        border: 2px solid $text-color;
        width: 100%;
        min-height: 200px;
        padding: 10px;
      }

      small {
        display: block;
        font-size: 1.3rem;
        font-style: italic;
        padding-bottom: 15px;
      }

      .dropdown {
        > div {
          border-radius: 20px;
          border: 2px solid $text-color;

          .react-select__option {
            border-radius: 15px;
          }
        }
      }

      .react-tagsinput {
        padding-top: 5px;
      }

      .react-tagsinput--focused {
        border-color: #a5d24a;
      }

      .react-tagsinput-tag {
        color: $blue1;
        cursor: pointer;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 20px;
        background-color: $blue1;
        color: #fff;
        font-size: 1.3rem;
        margin-right: 6px;
      }

      .react-tagsinput-remove {
        cursor: pointer;
        font-weight: bold;
        color: $blue4;
        position: relative;
        top: -1px;
      }

      .react-tagsinput-tag a::before {
        content: " ×";
      }

      .react-tagsinput-input {
        background: transparent;
        border: 0;
        color: #777;
        font-family: sans-serif;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 6px;
        margin-top: 1px;
        outline: none;
        padding: 5px;
        width: 80px;
      }
    }
  }

  .errors {
    background-color: rgb(255, 142, 142);
    border: 1px solid rgb(154, 0, 0);
    color: rgb(154, 0, 0);
    margin-bottom: 25px;
    padding: 15px;
  }

  input[type="submit"] {
    width: 100%;
  }
}

@media (min-width: 50.625em) {
  .wrapper {
    padding: 0;

    .inner {
      position: relative;
      padding-left: 25px;
      padding-right: 25px;
      height: 100%;
    }

    header.main {
      height: 117px;
      margin-bottom: 0;

      .inner {
        display: flex;
        justify-content: space-between;
      }

      h1 {
        height: auto;
        line-height: 117px;

        a {
          img {
            width: 245px;
          }
        }
      }

      #mobilemenubtn {
        display: none;
      }

      nav {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 25px;
        line-height: 120px;
        ul {
          position: relative;
          top: -5px;
          li {
            display: inline-block;
            margin-left: 20px;
          }
        }
      }
    }

    header.main.listing {
      height: 70px;

      nav {
        line-height: 75px;
      }
    }

    footer.main {
      position: absolute;
      bottom: 0;
      width: 100%;

      .copyright {
        text-align: center;
        width: 100%;
      }

      .inner {
        display: flex;
        justify-content: space-between;

        .back_to_top {
          bottom: 35px;
        }
      }
    }

    footer.main.fixed {
      position: relative;
    }
  }

  .page_home {
    position: relative;
    height: 80.5vh;

    .headline {
      width: 582px;
      margin: auto;

      h2 {
        font-size: 3.8rem;
        line-height: 1.4em;
        margin-bottom: 60px;
      }

      p {
        font-size: 2.2rem;
        line-height: 1.7em;
      }
    }

    .find_controls {
      position: absolute;
      bottom: 100px;
      left: 0;
      right: 0;
    }
  }

  .page_listing {
    .results {
      display: grid;
      grid-template-columns: 360px auto;
    }

    .filters {
      top: 70px;
      z-index: 20;
      height: 50px;
      display: flex;
      justify-content: flex-start;

      .search {
        width: 360px;

        input[type="search"] {
          padding-left: 0;
        }
      }

      .type-filter,
      .tag-filter {
        width: 250px;

        .react-select__control {
          min-height: 30px;
          height: 30px;
          padding-right: 15px;
          border-right: 1px solid $gray1;
        }

        .react-select__indicator-separator {
          background-color: transparent;
        }
      }

      .tag-filter {
        padding-left: 0;
        width: 450px;
      }
    }

    .listing {
      padding: 25px;
      width: 360px;
      margin: 0;
    }

    .map {
      display: block;
      position: sticky;
      top: 120px;
      z-index: 6;

      #map {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
      }

      .marker {
        background-color: $blue2;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        cursor: pointer;
      }

      .marker.highlighted {
        background-color: rgb(255, 102, 0);
        width: 18px;
        height: 18px;
        z-index: 1000000;
      }
    }
  }

  .page_submit {
    .headline {
      width: 582px;
      padding-top: 50px;
      margin: auto;

      margin-bottom: 50px;

      h2 {
        font-size: 3.8rem;
        line-height: 1.4em;
        margin-bottom: 60px;
      }

      p {
        font-size: 2.2rem;
        line-height: 1.7em;
      }
    }

    #react_form,
    #react_updateform {
      width: 100%;
      max-width: 600px;
      margin: auto;
      margin-top: 45px;
      margin-bottom: 90px;
    }
  }

  form {
    .formrow {
      &.col-2 {
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
      }

      &.col-3 {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        justify-content: space-between;
      }

      .field {
        margin-bottom: 0;

        select {
          position: relative;
          top: 10px;
        }
      }
    }
  }
}

@media (min-width: 62.5em) and (min-height: 63.5em) {
  .page_home {
    .headline {
      padding-top: 100px;
    }
  }
}
